.slider {
  height: fit-content;
  margin: auto;
  position: relative;
  width: 90%;
  overflow: hidden;
}

.slideTrack {
  display: flex;
  gap: 32px;
}

.slider::before {
  top: 0;
  left: 0;
}

.slider::after {
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}

.slide,
.slide1 {
  width: 160px;
  height: 42px;
}

.logo {
  width: 100%;
  opacity: .6;
  transition: all .3s;
}

.logo:hover {
  opacity: 1;
}
